#addStepThree{

}
#addStepThree .steps_box{
	padding: 1.25rem 6.125rem;
	border-bottom: solid 1px #ededed;
}
#addStepThree .table_list{
	width: 100%;
    padding: 1.25rem 3.125rem;
}
#addStepThree .table_list .table_input{
	display: inline;
}
#addStepThree .table_list .table_input input{
	width: 80%;
	height: 30px;
	margin-right: 10px;
	text-align: center;
}
#addStepThree .pagination{
	display: inline-block;
    padding-right: 40px;
    width: 100%;
    text-align: right;
}
#addStepThree .lastStep{
	width: 100%;
	text-align: right;
	padding-right: 40px;
	margin: 30px 0;
}
#addStepThree .ImgPagination{
	display: inline-block;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}